.side-menu {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
  border-right: 1px solid #aaccee;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.03);
  padding-top: 30px;
  position: fixed;
}

.side-menu-option {
  padding: 20px;
  border-top: 1px solid #d0e6f6;
  border-bottom: 1px solid #d0e6f6;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.side-menu-option:hover { background-color: #e6f3ff; }
.side-menu-option.active {
  font-weight: bold;
  background-color: #d6ecff;
}
.side-menu .active { font-weight: bold; color: #007bff; }
